@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
	font-family: "PoppinsM";
	src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
	font-family: "Oxanium";
	src: url("./assets/fonts/Oxanium-SemiBold.ttf");
}
@font-face {
	font-family: "OxaniumM";
	src: url("./assets/fonts/Oxanium-Medium.ttf");
}
@font-face {
	font-family: "OxaniumR";
	src: url("./assets/fonts/Oxanium-Regular.ttf");
}
@font-face {
	font-family: "PubSans";
	src: url("./assets/fonts/PublicSans-Regular.ttf");
}


::-webkit-scrollbar {
	width: 15px;
	height: 10px;
  }
  
  ::-webkit-scrollbar-track { background: white; }
  
  ::-webkit-scrollbar-thumb {
	background: hsla(219, 14%, 60%, 0.3);
	border: 2px solid white;
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsla(219, 14%, 60%, 0.5); }


.wrapper::-webkit-scrollbar-track {  background: hsl(216, 38%, 95%);
	outline: 2px solid hsl(204, 91%, 53%);
	border-radius: 10px; }

.wrapper::-webkit-scrollbar-thumb { border-color: hsl(216, 38%, 95%);
	background: hsl(204, 91%, 53%);
	border-radius: 10px;}

.wrapper::-webkit-scrollbar-button { width: calc(25% - 40px); }



.transition {
  transition: 0.5s ease-in ;
}

.hero-banner {
  background: url(./assets/hero-banner.jpg) left center / cover no-repeat;
  border-radius: 30px;
  
}
